<div class="container">

  <h1 style= "color:#e6e6eb" class="mt-3" >New dev</h1>

  <%= render "form", dev: @dev %>

  <br>

  <div>
    <%= link_to "Home", devs_path , class:"btn btn-outline-danger"%>
  </div>
</div>
