<div class="container">


  <h1 class="mt-4">Editing post</h1>

  <%= render "form", post: @post , atualizar: @atualizar%>

  <br>

  <div class="d-flex justify-content-end">
    <%= link_to "Home", posts_path , class:"btn btn-danger "%>
  </div>

</div>
