<h1>New post</h1>

<div id="posts">
  <button id="render">+</button>
  <%= render "form", post: @post%>

  <br>
  <div id="teste"></div>
</div>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
