<div class="container">

  <h1 class="mt-4">New post</h1>

  <div id="posts">
    
    <%= render "form", post: @post, atualizar: @criar%>

    <br>
  </div>

  <div>
    <%= link_to "Back to posts", posts_path %>
  </div>
</div>
