<div class="container">
  <div id="formContainer">
    <%= render "form", post: @post, show_submit_button: false %>
  </div>

  <div class="d-flex justify-content-end mt-3">

    <button id="addFormButton" class="btn btn-primary me-3">Adicionar formulário</button>

    

    <%= form_tag(posts_path, method: :get, id:"postsForm") do %>
      <%= submit_tag "Salvar todos", id: "submitButton", class: "btn btn-success" %> 
    <% end %>
</div>
</div>

<script>
  document.getElementById('addFormButton').addEventListener('click', function() {
    var newForm = document.createElement('form');
    newForm.innerHTML = `
      <%= render "form", post: @post, show_submit_button: false %>
    `;
    document.getElementById('formContainer').appendChild(newForm);
  });
  document.querySelector("#submitButton").addEventListener('click', function(event) {
  event.preventDefault();
  let forms = Array.from(document.querySelectorAll('.post-form'));
  let sub_posts = forms.map((form, index) => {
  return {
    dev: form.querySelector(`#post_dev`).value,
    description: form.querySelector(`#post_description`).value,
    date: form.querySelector(`#post_date`).value,
    status: form.querySelector(`#post_status`).value,
    good_bad: form.querySelector(`#post_good_bad`).value,
  };
});
  fetch('/posts', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRF-Token': document.querySelector("meta[name='csrf-token']").content
    },
    body: JSON.stringify({ post: { sub_posts_attributes: sub_posts } }) 
  })
  .then(response => response.json())
  .then(data => console.log(data));
});

</script>

